<!DOCTYPE html>
<head>
    <title>Game</title>
</head>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<body>
    <h1 class="title">Title :D</h1>
    <div id="canvasContainer" class="canvasContainer">
        <canvas id="canvas" class="canvasClass"></canvas>
    </div>
</body>
<script src="js/Player.js"></script>
<script src="js/Keyboard.js"></script>
<script src="js/Block.js"></script>
<script src="js/enums/Directions.js"></script>
<script src="main.js"></script>
</html>